<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>todoList删除功能</title>
    <script src="../vue.js"></script>
</head>
<body>
    <div id="root">
        <input v-model="inputValue">
        <button @click="add">提交</button>

        <ul>
            <todo-item
                v-for="(item,index) of list"
                :key="index"
                :content="item"
                :index="index"
                @remove="remove"
            >
            <!-- @remove侦听器能供父类侦听，所以remove调用父类vue实例的方法 -->
            <!-- :content="item"，:index="index"都是自定义参数，供使用 -->
            </todo-item>
        </ul>
    </div>

    <script>
        Vue.component('todo-item',{
            props:['content','index'],
            template:'<li @click="go">{{content}}</li>',
            methods:{
                go:function(){
                    //@$emit用于对应外部父类的方法
                    this.$emit('remove',this.index)
                }
            }
        })

        new Vue({
            el:'#root',
            data:{
                inputValue:'',
                list:[]
            },
            methods:{
                add:function(){
                    this.list.push(this.inputValue)
                    this.inputValue=''
                },
                remove:function(index){
                    this.list.splice(index,1)
                }
                //splice(当前位置【必填】，删除数量【必填】，增加的数据【不必填】)
            }
        })
    </script>
</body>
</html>